//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Game        7
#define Colemak     8

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q       &kp W       &kp E          &kp R         &kp T        &kp Y      &kp U        &kp I        &kp O       &kp P
              &hm LGUI A  &hm LALT S  &hm LCTRL D    &hm LSHIFT F  &kp G        &kp H      &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMICOLON
&lt 3 ESCAPE  &kp Z       &kp X       &kp C          &kp V         &kp B        &kp N      &kp M        &kp COMMA    &kp DOT     &kp SLASH           &kp APOSTROPHE
                                      &lt 1 DEL      &lt 2 SPACE   &lt 3 TAB    &lt 4 RET  &lt 5 BSPC   &lt 6 MINUS
            >;
        };

        Media {
            display-name = "Media";
            bindings = <
         &trans   &trans    &trans  &trans  &trans    &kp K_REDO    &kp K_PASTE  &kp K_COPY     &kp K_CUT    &kp K_UNDO
         &trans   &trans    &trans  &trans  &trans    &kp CAPSLOCK  &kp LEFT     &kp UP_ARROW   &kp DOWN     &kp RIGHT
&trans   &trans   &trans    &trans  &trans  &trans    &kp INSERT    &kp HOME     &kp PAGE_DOWN  &kp PAGE_UP  &kp END     &trans
                            &trans  &trans  &trans    &trans        &trans       &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp K_REDO    &kp K_PASTE  &kp K_COPY     &kp K_CUT    &kp K_UNDO
        &trans  &trans  &trans  &trans  &trans    &kp CAPSLOCK  &kp LEFT     &kp DOWN_ARROW &kp UP_ARROW &kp RIGHT
&trans  &trans  &trans  &trans  &trans  &trans    &kp INSERT    &kp HOME     &kp PAGE_DOWN  &kp PAGE_UP  &kp END     &trans
                        &trans  &trans  &trans    &trans        &trans       &trans
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
                &kp LEFT_BRACE   &kp AMPERSAND &kp KP_ASTERISK &kp SQT    &kp RIGHT_BRACE    &trans  &trans  &trans  &trans  &trans
                &kp SEMICOLON    &kp DOLLAR    &kp PERCENT     &kp CARET  &kp PLUS           &trans  &trans  &trans  &trans  &trans
&studio_unlock  &kp TILDE        &kp EXCL      &kp AT          &kp HASH   &kp PIPE           &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans        &trans          &trans     &trans             &trans  &trans  &trans
            >;
        };

        Num {
            display-name = "Fun";
            bindings = <
        &kp LEFT_BRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET    &trans  &trans  &trans  &trans  &trans
        &kp COLON         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL            &trans  &trans  &trans  &trans  &trans
&trans  &kp GRAVE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSLASH        &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans               &trans  &trans  &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &kp F7  &kp F8  &kp F9  &kp F12   &trans  &trans  &trans  &trans  &trans
        &trans       &kp F4  &kp F5  &kp F6  &kp F11   &trans  &trans  &trans  &trans  &trans
&trans  &trans       &kp F1  &kp F2  &kp F3  &kp F10   &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Gaming {
            display-name = "Gaming";
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &trans    &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };

        Colemak {
            display-name = "Colemak";
            bindings = <
              &kp Q       &kp W       &kp F          &kp P         &kp B        &kp J      &kp L        &kp U        &kp Y       &kp APOSTROPHE
              &hm LGUI A  &hm LALT R  &hm LCTRL S    &hm LSHIFT T  &kp G        &kp M      &hm RSHFT K  &hm RCTRL E  &hm RALT I  &hm RGUI O
&lt 3 ESCAPE  &kp Z       &kp X       &kp C          &kp D         &kp V        &kp K      &kp H        &kp COMMA    &kp DOT     &kp SLASH           &kp SEMICOLON
                                      &lt 1 DEL      &lt 2 SPACE   &lt 3 TAB    &lt 4 RET  &lt 5 BSPC   &lt 6 MINUS
            >;
        };
    };
};
