//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Game        7
#define Colemak     8

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        toggle-gaming {
            bindings = <&tog 8>;
            key-positions = <1 0 2>;
        };

        toggle-colemak {
            bindings = <&tog 1>;
            key-positions = <7 8 9>;
        };

        ctrl+shift+F {
            bindings = <&kp LC(LS(F))>;
            key-positions = <12 13 14>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <21 22>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <22 23>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <23 24>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <24 25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
              &kp Q       &kp W       &kp E        &kp R         &kp T        &kp Y      &kp U        &kp I        &kp O       &kp P
              &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &kp G        &kp H      &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SINGLE_QUOTE
&lt 4 ESCAPE  &kp Z       &kp X       &kp C        &kp V         &kp B        &kp N      &kp M        &kp COMMA    &kp DOT     &kp SLASH              &kp SEMICOLON
                                      &lt 2 DEL    &lt 3 SPACE   &lt 4 TAB    &lt 5 RET  &lt 6 BSPC   &lt 7 MINUS
            >;
        };

        Colemak {
            display-name = "Colemak";
            bindings = <
              &kp Q       &kp W       &kp F        &kp P         &kp B        &kp J      &kp L        &kp U        &kp Y       &kp APOSTROPHE
              &hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHIFT T  &kp G        &kp M      &hm RSHFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O
&lt 4 ESCAPE  &kp Z       &kp X       &kp C        &kp D         &kp V        &kp K      &kp H        &kp COMMA    &kp DOT     &kp SLASH       &kp SEMICOLON
                                      &lt 2 DEL    &lt 3 SPACE   &lt 4 TAB    &lt 5 RET  &lt 6 BSPC   &lt 7 MINUS
            >;
        };

        Media {
            display-name = "Media";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp K_REDO    &kp K_PASTE       &kp K_COPY         &kp K_CUT        &kp K_UNDO
        &trans  &trans  &trans  &trans  &trans    &kp CAPSLOCK  &kp K_PREVIOUS    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_NEXT
&trans  &trans  &trans  &trans  &trans  &trans    &kp INSERT    &kp HOME          &kp PAGE_DOWN      &kp PAGE_UP      &kp END     &sys_reset
                        &trans  &trans  &trans    &kp K_STOP    &kp K_PLAY_PAUSE  &kp K_MUTE
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp K_REDO    &kp K_PASTE  &kp K_COPY      &kp K_CUT     &kp K_UNDO
        &trans  &trans  &trans  &trans  &trans    &kp CAPSLOCK  &kp LEFT     &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT
&trans  &trans  &trans  &trans  &trans  &trans    &kp INSERT    &kp HOME     &kp PAGE_DOWN   &kp PAGE_UP   &kp END     &trans
                        &trans  &trans  &trans    &trans        &trans       &trans
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp LEFT_BRACE  &kp AMPERSAND  &kp KP_ASTERISK       &kp SQT                &kp RIGHT_BRACE    &trans  &trans  &trans  &trans  &trans
        &kp SEMICOLON   &kp DOLLAR     &kp PERCENT           &kp CARET              &kp PLUS           &trans  &trans  &trans  &trans  &trans
&trans  &kp TILDE       &kp EXCL       &kp AT                &kp HASH               &kp PIPE           &trans  &trans  &trans  &trans  &trans  &trans
                                       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE     &trans  &trans  &trans
            >;
        };

        Num {
            display-name = "Fun";
            bindings = <
        &kp LEFT_BRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET    &trans  &trans  &trans  &trans  &trans
        &kp COLON         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL            &trans  &trans  &trans  &trans  &trans
&trans  &kp GRAVE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSLASH        &trans  &trans  &trans  &trans  &trans  &trans
                                        &kp PERIOD    &kp NUMBER_0  &kp KP_MINUS         &trans  &trans  &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &kp F7  &kp F8  &kp F9  &kp F12    &trans  &trans  &trans  &trans  &trans
        &trans       &kp F4  &kp F5  &kp F6  &kp F11    &trans  &trans  &trans  &trans  &trans
&trans  &trans       &kp F1  &kp F2  &kp F3  &kp F10    &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };

        Gaming {
            display-name = "Gaming";
            bindings = <
            &kp M           &kp Q  &kp X         &kp E      &kp R        &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp A  &kp W         &kp D      &kp F        &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp Z  &kp S         &kp C      &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LEFT_ALT  &kp LCTRL  &kp SPACE    &trans  &trans  &trans
            >;
        };
    };
};
